<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066925511084-ul1t31i8fdfd5pmtmj84ikdnkdejehro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066925511084-ul1t31i8fdfd5pmtmj84ikdnkdejehro</string>
	<key>API_KEY</key>
	<string>AIzaSyBRfT69ZdPnrbI6JYw2U6LWzo0NosSDvns</string>
	<key>GCM_SENDER_ID</key>
	<string>1066925511084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adamhl.Hypnosis</string>
	<key>PROJECT_ID</key>
	<string>hypnosis-60604</string>
	<key>STORAGE_BUCKET</key>
	<string>hypnosis-60604.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066925511084:ios:ee5df536cccef6a8902a09</string>
</dict>
</plist>